.my-form{
    width: 500px;
    margin: 200px auto;
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.my-form-field{
    border: none;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    color: greenyellow;
}

.my-form-field:not(:last-child){
    margin-bottom: 20px;
}

.my-form-field:focus ~ .icon-search{

}
    


.my-form-field::placeholder{
    color: red;
    letter-spacing: 2px;
    font-style: italic;
}

.my-form-field:focus{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0,5)
    ;
}

.my-form-field:invalid{

}


/*inpur[type=text] - способ обращения*/

.my-form-field-search{
    position: relative;
}




.my-form-field-search .my-form-field{
    width: 100%;

}

.icon-search{
    position: absolute;
    height: 15px;
    top: 15px;
    left: 0;
}

.button{
    margin-top: 25px;
}

.my-from-check-input{
    display: none;
}

.my-from-check-input:not(:checked){

}

.my-from-check-input:checked{
    
}

textarea{
    resize:none ;
}