* {
    margin: 0;
    padding: 0;
}


body {
    /**ffss = font-family: sans-serif; */
    font-family: sans-serif;/*sans-serif шрифт без засечек*/
   
}


.container {   /*отступы*/
    width: 1170px;
    margin: 0 auto;/*автоматичекси будет высчитываит отступы*/
}

.hero {
    background-image:url(image/Layer.png);
    background-repeat: no-repeat;
    /*bgs*/
    background-size: cover;/*заполняет всю страницу / обратное - contain*/
    /*bgp*/
    background-position:center ;
    
  /*padding: 530px 0 130px;*/    
padding-top: 530px;
padding-bottom:130px ;
color: white;
}

.hero-title { 
font-size: 48px;
line-height: 59px;
}

.hero-subtitle {
    font-size: 18px;
    line-height:22px ;
    margin-top: 16px;
    margin-bottom: 22px;
}

.hero-slogan{
    text-transform: uppercase; 
    font-size: 54px;
    line-height: 66px;
    /*padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 31px;*/
    background-color:rgba(24, 25, 26, 0.493);
}

.hero-slogan_input{
    color: #f48e0b;
    border: 1px solid #ec8805;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 31px;
    padding-left: 31px;
    display: inline-block;
    
    
   
}
/*1
.block-item{
font-size: 2em;
padding: 1em;
}
*/
.navigation{
    padding: 22px;
    border-bottom:5px solid ;
    color: #f48e0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-title{
    color: #f48e0b;
    font-size: 28px;
    /*display: inline-block; /*выстроить в линию*/
    /*margin-right: 165px;*/
    
}

.navigation-menu{
    /*display: inline-block; /*выстроить в линию*/
    display: flex;
    list-style: none;
    /*flex-basis: 60%;*/
}

.navigation-menu-item{
    /*display: inline/*выстроить в линию*/
    margin-left: 69px;

}

.navigation-menu-item-link{
    text-decoration:none ;
    color:black ;
    text-transform: uppercase;
    
}
.info {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

.info-media{
    width: calc(100%/ 2 - 15px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 22px;
}

.info-media-img{
    position: relative;
}

.info-media-img:first-child::before,
.info-media-img:nth-child(2):before,
.info-media-img:nth-child(3):before,
.info-media-img:nth-child(4):before{   
    content: "Consulting";
    position: absolute;
    font-size:14px;
    top:95px;
    left:15px;
    color: #ffffff;
    display: inline-block;
    background: #333333;
    padding: 14px 33px 14px 17px;
}

.info-media-img:nth-child(2):before{
    content: "Consulting";
}

.info-media-img:nth-child(3):before{
    content: "Consulting";
}

.info-media-img:nth-child(4):before{
    content: "Consulting";
}

.info-media-img:nth-child(5):before{
    content: "Consulting";
}

.info-desc{
    width: calc(100%/ 2 - 15px);
}

.yellow-text{
    color: #f48e0b;
}

.info-desc-title{
    font-weight: bold;
    font-size: 18px;        
    line-height: 18px;
text-transform: uppercase;
}

.info-desc-text{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 36px;

}

.info-desc-link{
    background-color: #f48e0b;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding: 19px 27px;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 950px;
    row-gap: 30px;

}

.posts-item{
   /* border-bottom: 6px solid #333333 ;*/
    padding-top: 35px;
    padding-bottom: 15px;
    width: 370px;
    
}

.post-item-img{
    width: 370px;
}

.posts-item-img > img {
    width: 370px;
}

.posts-item-header{
    display: flex;/*рисунок и надпись стали в ряд*/
    align-items: center;
    margin-top: 7px;
}

.item-header-img{
    padding:12px;
    background-color: #333333;
    margin-right: 8px;
}

.posts-item-text{
    font-size: 14px;
    line-height: 17px;  
    color: #505050;
    border-bottom: 1px solid;
    padding-bottom: 14px;
    margin-top: 15px;
}

.posts-item-info{
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.item-info-link{
    font-size: 12pz;
    line-height: 18px;
    text-transform: uppercase;
    color: #828828;
}
/*Применение грида*/
.team{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom:150px;
}

.team-child img{
    width:100%;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    column-gap: 15px;
}

.tabs-item{
    position:relative;   
    overflow: hidden;
}

.tabs-item:hover > .tabs-item-hover{
    top:0px;
    transition: all 500ms;
}

.tabs-item-hover{
    position: absolute;
    width:100% ;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afff;
    top: -100%;
    left: 0px;
}

.pseudo{
text-align: center;
margin-bottom: 500px;
margin-top: 97px;
}

.pseudo-title{
    font-weight: bold;
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    position: relative;
}

.pseudo-subtiyle{
    font-size: 17px;
    margin-top: 28px;
}

.pseudo-title::before{
width:60px;
height:3px;
background: linear-gradient(0deg, #F1AD1D, #F1AD1D), #F48E0B;
content: "";
display: inline-block;
position: absolute;
top:100px;
left:50%;
transform: translateX(-50%);
}

.yellow-collor{
color: #f1b128;
}

