* {
   margin: 0;
}

/*
#test {
   width: 50px; 
   height: 50px;
   background-color: orange;
   position: absolute;
}
*/

#test {
   width: 60px;
   height: 100px;
   background: yellow;
   margin: 50px;
   position: absolute;
}

#test2 {
   width: 10px;
   height: 100px;
   background: black;
   position: absolute;
   left: 0;
   top: 0;
}