@import "./variables";
@import "./mixins";
@import "./extends";
@import "./generals";

*,
*::after,
*::before {
    box-sizing: border-box;
}

.page__body {
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
/*
    @media (min-width:576px){
        max-width: 100%;
    }
    */
@include mediaQuery(576px,"min");
@include mediaQuery(768px,"min");
@include mediaQuery(992px,"min");
@include mediaQuery(1200px,"min");

}


ul,
li,
a{
    list-style: none;
    text-decoration: none;
}
.page-header-logo{
    margin-right: auto;

}

.page-header__menu{
    @extend %list-reset;
    order: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 40px;
    padding-right: 15px;
    
    @include mediaQuery(640px, "min"){
        width: max-content;
        order:initial;
        box-shadow: none;
        margin-right: 30px;
        
    }

    @include mediaQuery(992px, "min"){
        margin-right: 100px;
        
    }
}   

.menu__item{
    width:50%;

    @include mediaQuery(640px, "min"){        
        width: 100%;
        &:not(:last-child){
            margin-right: 15px;
        }
    }

    @include mediaQuery(640px, "min"){        
        width: 100%;
        &:not(:last-child){
            margin-right: 50px;
        }
    }
}

.menu__link{
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #565656;
    text-transform: uppercase;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    /*&--active{
        border-top: 2px solid $green-color;
    }*/

}

.page-header__nav{
    display: flex;
    align-items: center;
    margin: 12px 16px;
    flex-wrap: wrap;
    @include mediaQuery (640px, "min"){
        flex-wrap: nowrap;
    }
}

.page-header__lang{
    display: flex;
}

.peage-header__login{
    @extend %list-reset;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    color: $green-color;
    margin-right:16px;
    align-self: center;

    @include mediaQuery(992px, "min"){

    
    &:first-child{
        margin-right: 0;
        &::after{
            content:"|";
            margin-left: 7px;
        }
    }
}  

}

.page-header__lang{
    margin-left: 16px;

}

.lang-switcher{
    @extend %list-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: 74px;
        width: 1px;
        height: calc(100% + 2px);
        background-color: #f4f4f4;
    }
    
    &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid #f4f4f4;
    border-radius: 15px;
    width: 60px;
    height: 30px;
}

}

.lang-switcher__item{
    text-transform: uppercase;
    font-size: 10px;
    color: #909090;
}

.lang-switcher__link {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #909090;

&--active {
    background-color: #4eaae0;
    border-radius: 14px;
    color: #fff;
    }
}

.hero{
    background-color: $green-color;
    padding-top: 22px;
    @include mediaQuery (992px, "max"){
            padding-top: 120px;
        
}

.hero__title{
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    @include mediaQuery (992px, "max"){
    font-size: 45px;
    line-height: 65px;
}

}

.hero__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    }

.hero__statistics{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include mediaQuery (992px, "max"){
        grid-template-columns: repeat(2,1fr);
    }
}
.item{
    padding-bottom: 50px;
    padding:23px;
&:not(:last-child){
    border-right: 2px solid  rgba(255, 255, 255, 0.25);
}
@include mediaQuery (992px, "max"){
    &:nth-child(2){
        border: none;
        border-bottom:2px solid  rgba(255, 255, 255, 0.25);
    }
    &:nth-child(1){
        border-bottom: 2px solid  rgba(255, 255, 255, 0.25);
    }
}
}

.item__title{
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    @include mediaQuery (480px, "max"){
        font-size: 30px;
        line-height: 37px;
        }
}
}
.item__text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #db2424;

}


