body{
    background-color: rgb(44, 42, 42);
}

.info{
    display: flex;
    column-gap: 60px;
    width:1200px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px;
    background-color: #fff;
}

.info-item{
    position: relative;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
}

.info-item::before{/*псевдоэлемент*/
    content: "";
    width:72px;
    height: 4px;
    background: linear-gradient(90deg, #EC6f66, #F3A183 100%);
    position: absolute;
    top:148px;
    left:0;
}

.info-item-title{
    font-size: 36px;    
    font-weight: bold;
    padding: 22px;
    background: linear-gradient(90deg, #EC6f66, #F3A183 100%);
    display: inline-block;
    color: white;
    border-radius: 6px;
    margin-bottom:26px;
}

.info-item-subtitle{
font-size: 18px;    
line-height: 21px;
color:#031d5b ;
margin-bottom: 51px;
}

.info-item-text{
    line-height: 28px;
    color:#3a3a44;
}

.main-title{
    font-size: 50px;
    line-height: 60px;
    text-align: 60px;
    margin-bottom: 500px;
    letter-spacing: 0,2px;
    color:transparent;
    background: linear-gradient(90deg, #EC6f66, #F3A183 100%);/*градиент-плавный пеход цвета от начала до конца элемента*/
    -webkit-background-clip: text;
}