
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.grid{
    background-color: lightcoral;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4,fr);
    grid-template-rows: repeat(4,fr);
}

.grid-item{
    display: grid;
    color: white;
    background-color: gray;
    margin: 2px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    border-radius: 10px;
}