.block{
    margin-left: auto;
    margin-right: auto;
    width: 200px;   
    height: 200px;  
    background-color: aqua;
    margin: 200 auto;
    animation: moveDiv 2s infinite linear; 
}

/*
@keyframes moveDiv{
    from{
        transform:scale(1);
    } to{
        transform: scale(2);
    }

}
*/


@keyframes moveDiv{
    0%{
        transform:scale(1);
    } 
    
    100%{
        transform: scale(2);
    }

}