.form{
    width: 540px;
    margin: 100px auto;
    border: 1px solid;
    
}

.header{
    display: flex;
    justify-content: space-between; 
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 15px;
    background: #d4daf8;
}

.for-avatar{
    border: 3px solid white;
    border-radius: 50%;
    margin-left: 32px;
    transform: translateY(-50%);

}

.form-register{
    display: flex;
    flex-direction:column;
    margin: 0 32px;

}

.field{
    margin-bottom: 24px;
}